<div>
  <div class="modal-header" *ngIf="modalTitle">
    <h5 class="modal-title">{{modalTitle | translate}}</h5>
    <button (click)="cancel()" [disabled]="loading" type="button" class="close" data-dismiss="modal"
      aria-label="Cancel">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body pt-0">
    <div class="row" *ngIf="lastError">
      <div class="alert alert-warning col-12" role="alert">
        <span [translate]="'E' + (lastError.statusCode || 500) + '.title'"></span><br>
        <small *ngIf="lastError.statusCode >= 0" [translate]="'E' + (lastError.statusCode || 500) + '.message'"></small>
        <small *ngIf="lastError.statusCode == null">{{lastError.message}}</small><br>
        <small *ngIf="lastError?.error?.message">{{lastError.error.message}}</small><br>
        <small *ngIf="lastError?.error?.code"> {{lastError.error.code}}</small>
      </div>
    </div>
    <div class="row" ngif="items">
      <div class="col-12">
        <p [translate]="'StudyPrograms.EditCoursesHelp'" [translateParams]="items"></p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <ng-container>
          <advanced-form-edit #formComponent></advanced-form-edit>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="modal-footer justify-content-end">
    <button *ngIf="deleteCourseButton" (click)="confirmDelete()" type="button" class="btn btn-danger"
    [translate]="'Courses.Delete'">
    </button>
    <button [disabled]="okButtonDisabled || loading || deleteCourseButtonConfirm" (click)="ok()" type="button" [ngClass]="okButtonClass">
      {{'OK' | translate}}
    </button>
    <button [disabled]="cancelButtonDisabled || loading || deleteCourseButtonConfirm" (click)="cancel()" type="button" [ngClass]="cancelButtonClass"
      data-dismiss="modal">
      {{'Cancel' | translate}}
    </button>
  </div>
  <!-- Confirm confirmDelete -->  
  <div *ngIf="deleteCourseButtonConfirm" class="form-group row text-danger float-right">
    <br/>
    <p [translate]="'Students.RemoveCourseMessage'"></p>&nbsp;&nbsp;
    <button (click)="ok()" type="button" class="btn btn-danger"> {{'Yes' | translate}} </button>&nbsp;&nbsp;
    <button (click)="cancel()" type="button" [ngClass]="cancelButtonClass"> {{'No' | translate}} </button>&nbsp;&nbsp;
  </div>
</div>
