<div class="row">
  <div class="col-sm-12">
    <div id="advanced-form">
      <div class="row">
        <div class="col-sm-12">

          <div class="form-inline pb-1 pr-1 pl-1 pt-3 col">
            <div class="form-group col-xl-4 col-md-6">
              <label class="pr-3" for="scholarshipname"
                [translate]="'Scholarships.ScholarshipType.scholarship'"></label>
              <input [(ngModel)]="filter.name" spellcheck="false" type="text" id="scholarshipname"
                name="scholarshipname" class="form-control col text-left"
                placeholder="{{ 'Scholarships.AdvancedSearch.ScholarshipPlaceHolder' | translate }}">
            </div>

            <div class="form-group col-xl-4 col-md-6">
              <label class="pr-3" for="searchdepartmentname" [translate]="'Scholarships.Department'"></label>
              <input [(ngModel)]="filter.department" spellcheck="false" type="text" id="searchdepartmentname"
                name="searchdepartmentname" class="form-control col text-left"
                placeholder="{{ 'Scholarships.AdvancedSearch.ScholarshipPlaceHolder' | translate }}">
            </div>


            <div class="form-group col-xl-4 col-md-6">
              <label class="pr-3" for="organizationname" [translate]="'Scholarships.Organization'"></label>
              <input [(ngModel)]="filter.organization" spellcheck="false" type="text" id="organizationname"
                name="organizationname" class="form-control col text-left"
                placeholder="{{ 'Scholarships.AdvancedSearch.ScholarshipPlaceHolder' | translate }}">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="form-inline pt-1 pb-3 pl-1 pr-1 col">

            <div class="form-group col-xl-4 col-md-6">
              <most-data #academicyears [model]="'AcademicYears'" [top]="100" [order]="'id desc'">
              </most-data>
              <div class="d-flex flex-row w-100" *ngIf="academicyears.value">
                <label class="pr-3" for="searchyear" [translate]="'Scholarships.AdvancedSearch.AcademicYear'"></label>
                <select class="custom-select flex-grow-1" [(ngModel)]="filter.year">
                  <option [ngValue]="undefined" [translate]="'Scholarships.AdvancedSearch.Choose'"></option>
                  <option *ngFor="let item of academicyears.value" [ngValue]="item.id" [translate]="item.alternateName">
                  </option>
                </select>
              </div>
            </div>

            <div class="form-group col-xl-4 col-md-6">
              <most-data #types [model]="'ScholarshipTypes'"></most-data>
              <div class="d-flex flex-row w-100" *ngIf="types.value">
                <label class="pr-3" for="scholarshiptypes" [translate]="'Scholarships.ScholarshipTypeName'"></label>
                <select class="custom-select flex-grow-1" [(ngModel)]="filter.scholarshipType">
                  <option [value]="undefined" [translate]="'Scholarships.AdvancedSearch.Choose'"></option>
                  <option *ngFor="let item of types.value" [value]="item.alternateName"
                    [translate]="'Scholarships.ScholarshipType.' + item.alternateName"></option>
                </select>
              </div>
            </div>

            <div class="form-group col-xl-4 col-md-6">
              <most-data #status [model]="'ScholarshipStatuses'"></most-data>
              <div class="d-flex flex-row w-100" *ngIf="status.value">
                <label class="pr-3" for="searchstatus" [translate]="'Scholarships.StatusName'"></label>
                <select class="custom-select flex-grow-1" [(ngModel)]="filter.status">
                  <option [value]="undefined" [translate]="'Scholarships.AdvancedSearch.Choose'"></option>
                  <option *ngFor="let item of status.value" [value]="item.alternateName"
                    [translate]="'Scholarships.StatusAlternateName.'+ item.alternateName"></option>
                </select>
              </div>
            </div>

          </div>
        </div>

      </div>

    </div>
  </div>
