<div class="row">
  <div class="col-sm-12">

    <div id="advanced-form">

      <div class="row">
        <div class="col-sm-12">
          <div class="form-inline pb-1 pr-1 pl-1 pt-3 col">
            <div class="form-group col-6">
              <label class="pr-3" for="searchstudentname" [translate]="'Registrations.AdvancedSearch.Student'"></label>
              <input [(ngModel)]="filter.studentName" spellcheck="false" type="text" id="searchstudentname" name="searchstudentname" class="form-control col text-left" placeholder="{{ 'Registrations.AdvancedSearch.StudentPlaceHolder' | translate }}">
            </div>
            <div class="form-group col-6">
              <label class="pr-3" for="searchregistrationid" [translate]="'Registrations.AdvancedSearch.StudentID'"></label>
              <input [(ngModel)]="filter.studentIdentifier" spellcheck="false" type="text" id="searchregistrationid" name="searchregistrationid" class="form-control col text-left" placeholder="{{ 'Registrations.AdvancedSearch.StudentID' | translate }}">
            </div>
        </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="form-inline pt-1 pb-3 pl-1 pr-1 col">

            <div class="form-group col-xl-3 col-md-6">
              <div class="d-flex flex-row w-100">
                <label class="pr-3" for="registrationdate" [translate]="'Registrations.AdvancedSearch.RegistrationDate'"></label>
                <input [(ngModel)]="filter.registrationDate" type="text" placeholder="{{ 'Registrations.AdvancedSearch.ChooseDate' | translate }}" class="form-control col-7 text-left" bsDatepicker [bsConfig]="{ dateInputFormat: 'MM/DD/YY' }">
              </div>
            </div>

            <div class="form-group col-xl-3 col-md-6">
              <most-data #registrationsacademicperiods [model]="'AcademicPeriods'"></most-data>
              <div class="d-flex flex-row w-100" *ngIf="registrationsacademicperiods.value">
                <label class="pr-3" for="searchperiod" [translate]="'Registrations.AdvancedSearch.AcademicPeriod'"></label>
                <select class="custom-select flex-grow-1" [(ngModel)]="filter.registrationPeriod">
                  <option [value]="undefined" [translate]="'Registrations.AdvancedSearch.Choose'"></option>
                  <option *ngFor="let item of registrationsacademicperiods.value" [value]="item.alternateName" [translate]="'Periods.' + item.alternateName"></option>
                </select>
              </div>
            </div>

            <div class="form-group col-xl-3 col-md-6">
              <most-data #registrationsacademicyears [model]="'AcademicYears'" [top]="-1" [order]="'id desc'">
              </most-data>
              <div class="d-flex flex-row w-100" *ngIf="registrationsacademicyears.value">
                <label class="pr-3" for="searchyear" [translate]="'Registrations.AdvancedSearch.AcademicYear'"></label>
                <select class="custom-select flex-grow-1" [(ngModel)]="filter.registrationYear">
                  <option [ngValue]="undefined" [translate]="'Registrations.AdvancedSearch.Choose'"></option>
                  <option *ngFor="let item of registrationsacademicyears.value" [ngValue]="item.id" [translate]="item.alternateName"></option>
                </select>
              </div>
            </div>

            <div class="form-group col-xl-3 col-md-6">
              <most-data #registrationStatusTypes [model]="'PeriodRegistrationStatuses'"></most-data>
              <div class="d-flex flex-row w-100 justify-content-md-end" *ngIf="registrationStatusTypes.value">
                <label class="pr-3" for="searchstatus" [translate]="'Registrations.Status'"></label>
                <select class="custom-select flex-grow-1" [(ngModel)]="filter.status">
                  <option [value]="undefined" [translate]="'Registrations.AdvancedSearch.Choose'"></option>
                  <option *ngFor="let item of registrationStatusTypes.value" [value]="item.alternateName" [translate]="'RegistrationStatus.'+ item.alternateName"></option>
                </select>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>

  </div>
</div>
