<div *ngIf="department && department?.length != 0">
  <div class ="pt-5">
    <div class="card">
      <div class="card-body ">
        <div>
          <div class="row pb-3">
            <h5 [translate]="'Departments.TabsInfo.registrationPeriodNotes'" class="mr-3 my-auto"></h5>
          </div>
        </div>
        <div [innerHtml]="department?.registrationPeriodNotes"></div>
        <div *ngIf="department?.registrationPeriodNote == null" class=" text-dark">
            <span [translate]="'Departments.NoRegistrationsNotes'"></span>
        </div>
      </div>
    </div>
  </div>
</div>
    <div *ngIf="department && department?.length == 0">
      <div class ="pt-5">
        <div class="card">
          <div class="card-header d-flex justify-content-between mt-3">
            <h5 class="mr-3  my-auto" [translate]="'Departments.TabsInfo.registrationPeriodNotes'"></h5>
          </div>
          <div class="card-body pt-0 pb-3">
            <div class="card-text row pb-2">
              <div class="col-auto text-dark">
                <span [translate]="'Departments.NoRegistrations'"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


